extend ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success("3000")
  +alert-error("3000")
  .container.mt-4
    h2 Thêm mới nhóm quyền

    form(method="POST", action="/admin/roles/create", id="form-create-role")
      .form-group
        label(for="title") Tên nhóm quyền
        input#title.form-control(type="text", name="title", placeholder="Nhập tên danh mục", required)

        .form-group
        label(for="title") Mô tả nhóm quyền
        input.form-control(type="text", name="description", placeholder="Nhập mô tả nhóm quyền")
        
      button.btn.btn-primary(type="submit") Thêm nhóm quyền
      a.btn.btn-secondary.ml-2(href="/admin/products-category") Hủy
