

.sider.bg-light.p-3
  ul.list-unstyled
    li.mb-2
      a(href=`${prefixAdmin}/dashboard`) Trang chủ
    li.mb-2
      a(href=`${prefixAdmin}/products`) Danh sách sản phẩm
    li.mb-2
      a(href=`${prefixAdmin}/products-category`) Danh mục sản phẩm
    li.mb-2
      a(href="/users") Người dùng
    li.mb-2
      a(href="/settings") Cài đặt
